<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
.center {
  text-align: center;
}
</style>

<center>
  <table style="width:70%">
    <thead>
      <h3>
        <th><img src="..." alt="Aqui va la imagen"></th>
        <th><center>FORMATO DE CONTROL DE SUPERVISION EN EQUIPOS DE COMUNICACION, COMPUTO YO CONDICONES DE SEGURIDAD</center></th>
        <th>version</th>
      </h3>
    </thead>
  </table>
</center>

<br>

<form class="" action="" method="post">
  <label for="">Codigo punto de venta:</label>
  <input type="text" name="" value="">
  <label for="">Fecha:</label>
  <input type="date" name="" value="">

  <br>
  <br>

  <label for="">Nombre y apellido del asesor:</label>
  <input type="text" name="" value="">
  <label for="">C.C</label>
  <input type="text" name="" value="">
</form>

<br>
<br>

<form class="" action="" method="post">
  <label for="">Punto autorizado para venta:</label>
  <input type="radio" name="" value="Si">Si
  <input type="radio" name="" value="No">No
  <label for="">Sucursal</label>
  <input type="text" name="" value="">
</form>

<br>
<br>

<form class="" action="" method="post">
  Punto de venta: <input type="radio" name="" value="pv"><br>
  Tercerizacion: <input type="radio" name="" value="ter"><br>
  Centro de experiencia: <input type="radio" name="" value="cex"><br>
  Centro de costo: <input type="radio" name="" value="ccos">
</form>

<br>
<br>

<center>
  <table style="width:70%">
    <tr>
      <h3>
        <th colspan="8"><center>Valoracion Electrica</center></th>
      </h3>
    </tr>
    <tr>
      <td class="center">N°</td>
      <td class="center">Descripcion y parametro</td>
      <td class="center">Si</td>
      <td class="center">No</td>
      <td class="center" colspan="4">Observacion</td>
    </tr>
    <tr>
      <td>1</td>
      <td><p>Tableros o cajas de control eléctrico están adecuadamente señalizados
        representando el riesgo eléctrico</p></td>
      <td><input type="radio" name="" value=""></td>
      <td><input type="radio" name="" value=""></td>
      <td colspan="4"><textarea name="name" rows="2" cols="20"></textarea></td>
    </tr>
    <tr>
      <td>2</td>
      <td><p>Los circuitos en la caja de control perteneciente a la luminaria y ventilación se encuentran señalizado.</p></td>
      <td><input type="radio" name="" value=""></td>
      <td><input type="radio" name="" value=""></td>
      <td colspan="4"><textarea name="name" rows="2" cols="20"></textarea></td>
    </tr>
    <tr>
      <td>3</td>
      <td><p>Los circuitos en la caja de control perteneciente a la aviso publicitario se encuentran señalizado</p></td>
      <td><input type="radio" name="" value=""></td>
      <td><input type="radio" name="" value=""></td>
      <td colspan="4"><textarea name="name" rows="2" cols="20"></textarea></td>
    </tr>
    <tr>
      <td>4</td>
      <td><p>Los circuitos en la caja de control perteneciente a la energía regulada se encuentran señalizado.</p></td>
      <td><input type="radio" name="" value=""></td>
      <td><input type="radio" name="" value=""></td>
      <td colspan="4"><textarea name="name" rows="2" cols="20"></textarea></td>
    </tr>
    <tr>
      <td>5</td>
      <td><p>¿Tomas eléctricos en buen estado?</p></td>
      <td><input type="radio" name="" value=""></td>
      <td><input type="radio" name="" value=""></td>
      <td colspan="4"><textarea name="name" rows="2" cols="20"></textarea></td>
    </tr>
    <tr>
      <td>6</td>
      <td><p>Tomas de seguridad en buen estado</p></td>
      <td><input type="radio" name="" value=""></td>
      <td><input type="radio" name="" value=""></td>
      <td colspan="4"><textarea name="name" rows="2" cols="20"></textarea></td>
    </tr>
    <tr>
      <td>7</td>
      <td><p>Se cuenta con UPS</p></td>
      <td><input type="radio" name="" value=""></td>
      <td><input type="radio" name="" value=""></td>
      <td colspan="4"><textarea name="name" rows="2" cols="20"></textarea></td>
    </tr>
    <tr>
      <td>8</td>
      <td><p>Se cuenta con Regulador de voltaje</p></td>
      <td><input type="radio" name="" value=""></td>
      <td><input type="radio" name="" value=""></td>
      <td colspan="4"><textarea name="name" rows="2" cols="20"></textarea></td>
    </tr>
    <tr>
      <td>9</td>
      <td><p>Cable Macho a Macho en buen estado</p></td>
      <td><input type="radio" name="" value=""></td>
      <td><input type="radio" name="" value=""></td>
      <td colspan="4"><textarea name="name" rows="2" cols="20"></textarea></td>
    </tr>
    <tr>
      <td>10</td>
      <td><p>Se cuenta con baterias</p></td>
      <td><input type="radio" name="" value=""></td>
      <td><input type="radio" name="" value=""></td>
      <td colspan="4"><textarea name="name" rows="2" cols="20"></textarea></td>
    </tr>
    <tr>
      <td>11</td>
      <td><p>Se cuenta con extencion</p></td>
      <td><input type="radio" name="" value=""></td>
      <td><input type="radio" name="" value=""></td>
      <td colspan="4"><textarea name="name" rows="2" cols="20"></textarea></td>
    </tr>
    <tr>
      <td>12</td>
      <td><p>Cuenta con planta electrica</p></td>
      <td><input type="radio" name="" value=""></td>
      <td><input type="radio" name="" value=""></td>
      <td colspan="4"><textarea name="name" rows="2" cols="20"></textarea></td>
    </tr>
    <tr>
      <td>13</td>
      <td><p>Cumple normativa de colores en cableado amarillo (avisos), negro(fase), rojo(tomas y luces), blanco (neutro).</p></td>
      <td><input type="radio" name="" value=""></td>
      <td><input type="radio" name="" value=""></td>
      <td colspan="4"><textarea name="name" rows="2" cols="20"></textarea></td>
    </tr>

  </table>
  <br>
  <table style="width:70%">
    <tr>
      <td colspan="8">
        <p>Para realizar la medición cuantitativa de las instalaciones eléctricas, tener en cuenta los siguientes parámetros:</p>
        <label for="">FN:Fase</label>
        <label for="">100≤FN≤130</label>
        <br>
        <label for="">NT:Neutro</label>
        <label for="">0≤NT≤1</label>
        <br>
        <label for="">FT:Fase Tirra</label>
        <label for="">101≤FN≤132</label>
      </td>
    </tr>
    <tr>
      <td class="center">N°</td>
      <td class="center"><p>DESCRIPCIONES Y PARAMETRO</p></td>
      <td class="center">FN</td>
      <td class="center">NT</td>
      <td class="center">FT</td>
      <td class="center">Si</td>
      <td class="center">No</td>
      <td class="center">Observacion</td>
    </tr>
    <tr>
      <td>13</td>
      <td><p>Toma de lectura en caja</p></td>
      <td><textarea name="name" rows="1" cols="20"></textarea></td>
      <td><textarea name="name" rows="1" cols="20"></textarea></td>
      <td><textarea name="name" rows="1" cols="20"></textarea></td>
      <td><input type="radio" name="" value=""></td>
      <td><input type="radio" name="" value=""></td>
      <td><textarea name="name" rows="2" cols="20"></textarea></td>
    </tr>
    <tr>
      <td>14</td>
      <td><p>Toma de lectura tomacorreientes</p></td>
      <td><textarea name="name" rows="1" cols="20"></textarea></td>
      <td><textarea name="name" rows="1" cols="20"></textarea></td>
      <td><textarea name="name" rows="1" cols="20"></textarea></td>
      <td><input type="radio" name="" value=""></td>
      <td><input type="radio" name="" value=""></td>
      <td><textarea name="name" rows="2" cols="20"></textarea></td>
    </tr>
    <tr>
      <td>15</td>
      <td><p>Lectura de trasnferencia</p></td>
      <td><textarea name="name" rows="1" cols="20"></textarea></td>
      <td><textarea name="name" rows="1" cols="20"></textarea></td>
      <td><textarea name="name" rows="1" cols="20"></textarea></td>
      <td><input type="radio" name="" value=""></td>
      <td><input type="radio" name="" value=""></td>
      <td><textarea name="name" rows="2" cols="20"></textarea></td>
    </tr>
    <tr>
      <td colspan="5" class="center">Total</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="3">Total conformidad</td>
      <td></td>
    </tr>
    <tr>
      <td colspan="3">Total inconformidad</td>
      <td></td>
    </tr>
  </table>
  <br>
  <br>
  <table style="width: 70%">
    <thead>
      <th colspan="6"><center>VALORACION RED INALAMBRICAS Y EQUIPOS DE COMUNICACIONES</center></th>
    </thead>
    <tr>
      <td colspan="6">Para la valoración de Red en los equipos se debe tener en cuenta la clasificación de los puntos
        de ventas y/o oficinas, así mismo el tipo de conexiones aplicables para obtener conexión.</td>
    </tr>
    <tr>
      <td class="center">CLase</td>
      <td class="center">Inalamica</td>
      <td class="center">Satelital</td>
      <td class="center">Red. Comercial</td>
      <td class="center">VPN</td>
      <td class="center">GPRS</td>
    </tr>
    <tr>
      <td>Punto de venta</td>
      <td class="center"><input type="checkbox" name="" value=""></td>
      <td class="center"><input type="checkbox" name="" value=""></td>
      <td class="center"><input type="checkbox" name="" value=""></td>
      <td class="center"><input type="checkbox" name="" value=""></td>
      <td class="center"><input type="checkbox" name="" value=""></td>
    </tr>
    <tr>
      <td>Tercerizacion</td>
      <td class="center"><input type="checkbox" name="" value=""></td>
      <td class="center"><input type="checkbox" name="" value=""></td>
      <td class="center"><input type="checkbox" name="" value=""></td>
      <td class="center"><input type="checkbox" name="" value=""></td>
      <td class="center"><input type="checkbox" name="" value=""></td>
    </tr>
    <tr>
      <td>Centro de experiencia</td>
      <td class="center"><input type="checkbox" name="" value=""></td>
      <td class="center"><input type="checkbox" name="" value=""></td>
      <td class="center"><input type="checkbox" name="" value=""></td>
      <td class="center"><input type="checkbox" name="" value=""></td>
      <td class="center"><input type="checkbox" name="" value=""></td>
    </tr>
    <tr>
      <td>Centro de costo</td>
      <td class="center"><input type="checkbox" name="" value=""></td>
      <td class="center"><input type="checkbox" name="" value=""></td>
      <td class="center"><input type="checkbox" name="" value=""></td>
      <td class="center"><input type="checkbox" name="" value=""></td>
      <td class="center"><input type="checkbox" name="" value=""></td>
    </tr>
  </table>
  <br>

  <table style="width: 70%">
    <tr>
      <td class="center">N°</td>
      <td class="center">DESCRIPCIONES Y PARAMETRO</td>
      <td class="center">Si</td>
      <td class="center">No</td>
      <td class="center">Activo</td>
      <td class="center">Observacion</td>
    </tr>
    <tr>
      <td>16</td>
      <td>Cableado de red rotulado con su respectivo nombre.</td>
      <td class="center"><input type="radio" name="" value=""></td>
      <td class="center"><input type="radio" name="" value=""></td>
      <td class="center"><input type="radio" name="" value=""></td>
      <td><textarea name="name" rows="2" cols="20"></textarea></td>
    </tr>
    <tr>
      <td>17</td>
      <td>El ponchado de los cables de red es el correcto</td>
      <td class="center"><input type="radio" name="" value=""></td>
      <td class="center"><input type="radio" name="" value=""></td>
      <td class="center"><input type="radio" name="" value=""></td>
      <td><textarea name="name" rows="2" cols="20"></textarea></td>
    </tr>
    <tr>
      <td>18</td>
      <td>RJ45 se encuentran en buen estado</td>
      <td class="center"><input type="radio" name="" value=""></td>
      <td class="center"><input type="radio" name="" value=""></td>
      <td class="center"><input type="radio" name="" value=""></td>
      <td><textarea name="name" rows="2" cols="20"></textarea></td>
    </tr>
    <tr>
      <td>19</td>
      <td>Indoor se encuentra en buen estado</td>
      <td class="center"><input type="radio" name="" value=""></td>
      <td class="center"><input type="radio" name="" value=""></td>
      <td class="center"><input type="radio" name="" value=""></td>
      <td><textarea name="name" rows="2" cols="20"></textarea></td>
    </tr>
    <tr>
      <td>20</td>
      <td>Router se encuentra en buen estado</td>
      <td class="center"><input type="radio" name="" value=""></td>
      <td class="center"><input type="radio" name="" value=""></td>
      <td class="center"><input type="radio" name="" value=""></td>
      <td><textarea name="name" rows="2" cols="20"></textarea></td>
    </tr>
    <tr>
      <td>21</td>
      <td>Cuenta con Swith Ethernet</td>
      <td class="center"><input type="radio" name="" value=""></td>
      <td class="center"><input type="radio" name="" value=""></td>
      <td class="center"><input type="radio" name="" value=""></td>
      <td><textarea name="name" rows="2" cols="20"></textarea></td>
    </tr>
    <tr>
      <td>22</td>
      <td>Cuenta con DVR</td>
      <td class="center"><input type="radio" name="" value=""></td>
      <td class="center"><input type="radio" name="" value=""></td>
      <td class="center"><input type="radio" name="" value=""></td>
      <td><textarea name="name" rows="2" cols="20"></textarea></td>
    </tr>
    <tr>
      <td>23</td>
      <td>Condiciones de la antena o radio</td>
      <td class="center"><input type="radio" name="" value=""></td>
      <td class="center"><input type="radio" name="" value=""></td>
      <td class="center"><input type="radio" name="" value=""></td>
      <td><textarea name="name" rows="2" cols="20"></textarea></td>
    </tr>
    <tr>
      <td>24</td>
      <td>Cuenta con conexion satelital </td>
      <td class="center"><input type="radio" name="" value=""></td>
      <td class="center"><input type="radio" name="" value=""></td>
      <td class="center"><input type="radio" name="" value=""></td>
      <td><textarea name="name" rows="2" cols="20"></textarea></td>
    </tr>
    <tr>
      <td>25</td>
      <td>Cuenta con conexión VPN</td>  <td><input type="radio" name="" value=""></td>
        <td class="center"><input type="radio" name="" value=""></td>
        <td class="center"><input type="radio" name="" value=""></td>
        <td><textarea name="name" rows="2" cols="20"></textarea></td>
    </tr>
    <tr>
      <td>26</td>
      <td>Cuenta con conexión GPRS</td>
      <td class="center"><input type="radio" name="" value=""></td>
      <td class="center"><input type="radio" name="" value=""></td>
      <td class="center"><input type="radio" name="" value=""></td>
      <td><textarea name="name" rows="2" cols="20"></textarea></td>
    </tr>
    <tr>
      <td colspan="3">Total</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="2">Total conformidad</td>
      <td></td>
    </tr>
    <tr>
      <td colspan="2">Total inconformidad</td>
      <td></td>
    </tr>
  </table>

  <br>
  <br>
  <table style="width: 70%">
    <th class="center" colspan="8">VALORACION DE VERSION DE APLICACIONES</th>
    <tr>
      <td colspan="8">Para la valoracion de las aplicaciones en los equipos se debe tener encuenta
        la clasificacion de los puntos de ventas y/o oficinas, asi mismo  los accesos permitidos administrativos o comerciales.</td>
    </tr>
    <tr>
      <td>Clase</td>
      <td>Posslim</td>
      <td>Sims</td>
      <td>BetPlay</td>
      <td>BNET loteria</td>
      <td>BNET gamble</td>
      <td>Linux</td>
      <td>W7 32 bits</td>
    </tr>
    <tr>
      <td>Tercerizacion</td>
      <td class="center"><input type="checkbox" name="" value=""></td>
      <td class="center"><input type="checkbox" name="" value=""></td>
      <td class="center"><input type="checkbox" name="" value=""></td>
      <td class="center"><input type="checkbox" name="" value=""></td>
      <td class="center"><input type="checkbox" name="" value=""></td>
      <td class="center"><input type="checkbox" name="" value=""></td>
      <td class="center"><input type="checkbox" name="" value=""></td>
    </tr>
    <tr>
      <td>Centro de exoeriencia</td>
      <td class="center"><input type="checkbox" name="" value=""></td>
      <td class="center"><input type="checkbox" name="" value=""></td>
      <td class="center"><input type="checkbox" name="" value=""></td>
      <td class="center"><input type="checkbox" name="" value=""></td>
      <td class="center"><input type="checkbox" name="" value=""></td>
      <td class="center"><input type="checkbox" name="" value=""></td>
      <td class="center"><input type="checkbox" name="" value=""></td>
    </tr>
    <tr>
      <td>Centro de costo</td>
      <td class="center"><input type="checkbox" name="" value=""></td>
      <td class="center"><input type="checkbox" name="" value=""></td>
      <td class="center"><input type="checkbox" name="" value=""></td>
      <td class="center"><input type="checkbox" name="" value=""></td>
      <td class="center"><input type="checkbox" name="" value=""></td>
      <td class="center"><input type="checkbox" name="" value=""></td>
      <td class="center"><input type="checkbox" name="" value=""></td>
    </tr>
  </table>

  <br>

  <table style="width:70%">
    <tr>
      <td class="center">N°</td>
      <td class="center">Descripcion y parametro</td>
      <td class="center">Si</td>
      <td class="center">No</td>
      <td class="center" colspan="4">Observacion</td>
    </tr>
    <tr>
      <td>27</td>
      <td><p>version de la aplicación  Posslim FIX 7.3  rs 47295</p></td>
      <td><input type="radio" name="" value=""></td>
      <td><input type="radio" name="" value=""></td>
      <td colspan="4"><textarea name="name" rows="2" cols="20"></textarea></td>
    </tr>
    <tr>
      <td>28</td>
      <td><p>Version de la aplicación  SIMS 16086</p></td>
      <td><input type="radio" name="" value=""></td>
      <td><input type="radio" name="" value=""></td>
      <td colspan="4"><textarea name="name" rows="2" cols="20"></textarea></td>
    </tr>
    <tr>
      <td>29</td>
      <td><p>version Business net gamble v 2.0 fix7.5 rs 48328 y puerto IP 10.20.14.10:8130</p></td>
      <td><input type="radio" name="" value=""></td>
      <td><input type="radio" name="" value=""></td>
      <td colspan="4"><textarea name="name" rows="2" cols="20"></textarea></td>
    </tr>
    <tr>
      <td>30</td>
      <td><p>Ingreso a tienda.betplay.com.co</p></td>
      <td><input type="radio" name="" value=""></td>
      <td><input type="radio" name="" value=""></td>
      <td colspan="4"><textarea name="name" rows="2" cols="20"></textarea></td>
    </tr>
    <tr>
      <td>31</td>
      <td><p>Sistema operativo acorde a las especificaciones establecidas</p></td>
      <td><input type="radio" name="" value=""></td>
      <td><input type="radio" name="" value=""></td>
      <td colspan="4"><textarea name="name" rows="2" cols="20"></textarea></td>
    </tr>
    <tr>
      <td>32</td>
      <td><p>Cuenta con ANYDESK o Tem weader instalados.</p></td>
      <td><input type="radio" name="" value=""></td>
      <td><input type="radio" name="" value=""></td>
      <td colspan="4"><textarea name="name" rows="2" cols="20"></textarea></td>
    </tr>
    <tr>
      <td colspan="2">Total</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="2">Total conformidad</td>
      <td></td>
    </tr>
    <tr>
      <td colspan="2">Total inconformidad</td>
      <td></td>
    </tr>
  </table>
</center>
